@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');         /*font-family: 'Comfortaa', cursive;*/

.main-header {
  background-color: rgb(36, 36, 36);
  height: 200px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  justify-items: center;
  align-items: center;
}

.nav {
  min-width: 325px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

.nav li {
  display: inline;
  border-right: 1px solid rgba(255, 255, 255, 0.9);
}

.nav li:last-child {
  border-right: none;
}

.nav ul {
  margin: 0;
  padding: 0;
}

.nav a {
  display: inline-block;
  padding: 0.5em;
  color: rgba(255, 255, 255, 0.9);
  text-decoration: none;
  cursor: pointer;
}

.nav a:hover {
  color: rgba(255, 255, 255, 0.6);
}

.main-nav {
  font-family: "Comfortaa", cursive;
  text-align: center;
  font-size: 1.45em;
  font-weight: lighter;
}

#active {
}

.logo-header {
  width: 300px;
  padding-top: 10px;
}

.main-logo {
  width: 300px;
  margin-bottom: 0;
  padding-bottom: 0;
}

.main-container {
  max-width: 900px;
  margin: 20px auto;
}

.main-heading {
  max-width: 900px;
  margin: auto;
}

.heading {
  font-family: "Comfortaa", cursive;
  font-weight: bold;
  font-size: 1.8em;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 25px;
  text-decoration: underline;
}

.btn {
  border: 2px solid rgb(163, 163, 163);
  color: white;
  background: rgb(36, 36, 36);
  font-family: "Kanit", sans-serif;
  border-radius: 0;
  text-align: center;
  vertical-align: center;
  padding: 0.4em 0.4em;
  cursor: pointer;
}
