@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');    /*font-family: 'Rubik', sans-serif;*/
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap');    /*font-family: 'Kanit', sans-serif;*/
@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');         /*font-family: 'Comfortaa', cursive;*/

* {
  box-sizing: border-box;
  font-family: 'Raleway' sans-serif;
}

html, body {
  background-color:rgba(255, 255, 255, .9);
  margin: 0;
  padding: 0;
}